html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1 rem = 10px */
    background-color: bisque;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: rgb(59, 14, 100) ;
    font-family: "Amarna", sans-serif;
}
.texto {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(57, 40, 153);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.am {
    text-align: center;
    color: bisque;
}

.fondo {
    background-image: url(e.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: auto;
    padding: 150px 55px;
    display: block;
}

p {
    text-align: center;
    max-width: 1200px;
    position: relative;
    top: 50%;
    left: 15%;
    font-size: 2.3rem;
}

.y {
    color: rgb(95, 95, 95);
}

.j {
    color: blueviolet;
}